page-main 
{
.getstart 
{
     background: url(../img/welcome.png);
background-repeat:no-repeat;
background-size:cover;
width:100%;
}

.wrapper 
{
    text-align: center;
}

.startBtn
 {
    position: absolute;
    top: 75%;
}
}
