page-createevent {
.createevent{
      background: url(../img/home.png) transparent;
background-repeat:no-repeat;
background-size:cover;
width:100%;
}

.inputClass{      
    color: white;
    font-size: larger;
}

.itemClass{
      background: transparent;
}

.itemClass{
      background: transparent;
}

.postEventBtn{
      position: absolute;
      bottom:0;
      width:100%;
}
.button-round-md {
    margin: 30px;
}

ion-header{
    background-color: rgba(101, 98, 98, 0.13) !important;
}

.footer{
    button{
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

}